body{
    padding: 0px;
    margin: 0px;
    /*overflow: hidden;*/
}
.gameinfo{
    border: 1px solid yellow;
    position: absolute;
    right: 0;
    /*bottom: 0;*/
    /*height: 25%;*/
    /*width: 100%;*/
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.centring-gameinfo{
    position: absolute;
    width: 100%;height: 100%;
    display: table;
}
.centring-gameinfo p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.grid{
    border: 1px solid red;
    float: right;
    position: relative;
    /*top: -100%;*/
    width: 70%;
    /*height: 100%;*/
    overflow: hidden;


    /*border: 1px solid red;*/
    /*width: 290px; /!*four cell with added border width*!/*/
}
.cell{
    border: 1px solid black;
    margin-right: -4px;
    display: inline-block;
    /*width: 50px; height: 50px;*/
    width: 16%; height: 16%;
    background: yellow;

    font-size: 200%;
    font-weight: bold;
    color: white;

    text-align: center;
    vertical-align: bottom;
    overflow: hidden;

    background-color: rgb(50,50,50);
}

.warning{
    width: 350px;height: 100px;
    padding-left: 90px;
}
.message{
}
.shout{
    float:left;
    font-size: 90px;
    line-height: 90px;
    margin-top: -10px;
}

.catch-swipe{
    position: absolute;
    top: 0; left: 0;
    width:100%; height: 100%;
    /*background-color: rgba(0,0,0,0.5);*/
    background-color: rgba(0,0,0,0);

    display: none;
}
.square-box{
    position: relative;
    float: left;
    width: 50%;
    /*height: 100%;*/
    overflow: hidden;
    background: #4679BD;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
    display: table;
    width: 100%;
    height: 100%;
}
.square-content #grid {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

.n-game-info{
    /*width: 100%;*/
    float: left;
    /*position: relative;*/
}

.align_center
{
    position: relative;
    width: 100%;
}
.align_center:after
{
    content: '';
    display: block;
    clear: both;
}
.align_center_to_left
{
    position: relative;
    right: 50%;
    float: right;
}
.align_center_to_right
{
    position: relative;
    z-index: 1;
    right: -50%;
}
.notify-landscape{
    display: none;
    border-radius: 30px;
    border: 2px solid #5e7d00;
    margin-top: -30%;
    height: 90px;
    line-height: 90px;
    background: rgba(255,255,255,0.8);
}
@media (max-width: 769px) {
    body{
        background:
        radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
        background-color: slategray;
        background-size:75px 100px;
    }
    .centring-gameinfo{
        bottom: 0;
        height: 25%;
        width: 100%;
        background: red;
    }
    .gameinfo{
        width: 100%;
    }
    .square-box{
        width: 100%;
    }
}

@media only screen and (orientation:portrait){
    .align_center{
        display: none;
    }
    .notify-landscape{
        display: none;
    }
}
@media only screen and (orientation:landscape){
    .notify-landscape{
        display: block;
    }
}